---
- name: create temporary directory
  ansible.builtin.tempfile:
    state: directory
    suffix: build
  register: tempdir

- name: download prestashop installer
  unarchive:
    src: "{{ prestashop_download_url }}"
    dest: "{{ tempdir.path }}"
    remote_src: true

- name: decompress prestashop installer
  unarchive:
    src: "{{ tempdir.path }}/{{ prestashop_install_archive }}"
    dest: "{{ tempdir.path }}"
    remote_src: true

- name: Delete useless files and directories
  file:
    path: "{{ tempdir.path }}/{{ item }}"
    state: absent
  with_items:
    - img
    - override
    - modules

- name: rename prestashop admin directory
  command: "mv {{ tempdir.path }}/{{ prestashop_default_admin_folder }} {{ tempdir.path }}/{{ prestashop_modified_admin_folder }}"
  register: result
  changed_when: result.rc == 0
  failed_when: result.rc != 0

- name: Delete vendor directory in target
  file:
    path: "{{ prestashop_root_path }}/{{ item }}"
    state: absent
  with_items:
    - vendor

- name: copy pretashop files to www folder
  ansible.builtin.copy:
    remote_src: yes
    src: "{{ tempdir.path }}/"
    dest: "{{ prestashop_root_path }}/"
    owner: "{{ prestashop_user }}"
    group: "{{ prestashop_group }}"
    mode: "{{ prestashop_chmod }}"

- name: Upgrade database
  command: php install/upgrade/upgrade.php
  args:
    chdir: "{{ prestashop_root_path }}"

- name: delete prestashop install directory
  file:
    path: "{{ prestashop_root_path }}/{{ item }}"
    state: absent
  with_items:
    - "{{ prestashop_install_folder }}"
    - "{{ prestashop_install_archive }}"

- name: update file to track prestashop installation status
  ansible.builtin.copy:
    content: "{{ prestashop_version }}"
    dest: "{{ prestashop_root_path }}/{{ prestashop_check_file_name }}"
    force: yes
    owner: "{{ prestashop_user }}"
    group: "{{ prestashop_group }}"
    mode: "{{ prestashop_chmod }}"

- name: change global permissions on prestashop root directory
  ansible.builtin.file:
    path: "{{ prestashop_root_path }}"
    state: directory
    recurse: yes
    owner: "{{ prestashop_user }}"
    group: "{{ prestashop_group }}"
    mode: "{{ prestashop_chmod }}"

- name: delete temporary directory
  ansible.builtin.file:
    path: "{{ tempdir.path }}"
    state: absent
